@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about .container .about-box .about-me .about-me-info h1, #about .container .about-box .about-me-technologies-box h1, #projects h1, #timeline h1, #contact .head h2 {
  font-size: 3rem;
  padding: 1rem;
  letter-spacing: 1px;
  text-align: center;
}

.blue {
  color: #425b84;
}

.html {
  color: #de4b25;
}

.css {
  color: #1a70b5;
}

.js {
  color: #f0d91d;
}

.scss {
  color: #c66395;
}

.react {
  color: #5dd4f2;
}

.node {
  color: #7bb600;
}

.white {
  color: rgba(255, 255, 255, 0.6);
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: "Lato", sans-serif;
}

.bg-main {
  width: 100vw;
  height: 100vh;
  background: url(imgs/sky.jpg) no-repeat center center;
  background-size: cover;
}

.message-box {
  padding: 4rem;
  background-color: white;
  color: #425b84;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  z-index: 1;
  height: 5rem;
}

nav #navigation {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #navigation a {
  text-align: center;
  text-decoration: none;
  color: #425b84;
  font-size: 1.5rem;
  line-height: 5rem;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

nav #navigation a:hover {
  background: rgba(66, 91, 132, 0.6);
}

#home {
  background: url(imgs/sky.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  min-height: 700px;
  position: relative;
}

#home .head-title {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  border-radius: 5px;
  background: rgba(66, 91, 132, 0.6);
  padding: 7rem;
  text-align: center;
  z-index: 2;
}

#about .container {
  width: 1100px;
  margin: 0 auto;
}

#about .container .about-box {
  padding-top: 3rem;
}

#about .container .about-box .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .container .about-box .about-me .about-me-info {
  margin: auto auto;
}

#about .container .about-box .about-me .about-me-info p {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

#about .container .about-box .about-me .about-photo {
  margin: auto auto;
}

#about .container .about-box .about-me-technologies-box .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about .container .about-box .about-me-technologies-box .technologies .tech {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
}

#about .container .about-box .about-me-technologies-box .technologies .tech i {
  font-size: 8rem;
}

#projects {
  min-height: 500px;
}

#projects .container {
  width: 80%;
  margin: 2rem auto 0 auto;
}

#projects .container .projects-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .container .projects-box a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #425b84;
  font-size: 1.5rem;
}

#projects .container .projects-box a div {
  padding: 3rem;
}

#projects .container .projects-box a div.project {
  cursor: pointer;
  padding: 0;
  height: 15rem;
  border: 2px solid #425b84;
  border-radius: 5px;
}

#projects .container .projects-box a div.project-one {
  background: url(imgs/project-one.png) no-repeat top center;
  background-size: cover;
  position: relative;
}

#projects .container .projects-box a div.project-two {
  background: url(imgs/project-two.png) no-repeat center center;
  background-size: cover;
  position: relative;
}

#projects .container .projects-box a div.project-three {
  background: url(imgs/project-three.png) no-repeat center center;
  background-size: cover;
  position: relative;
}

#projects .container .projects-box a div.project:hover::after {
  content: "\f002";
  font-family: FontAwesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

#projects .container .projects-box a div p {
  text-align: center;
  padding: 1rem;
}

#projects .container .git-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .container .git-box p {
  text-align: center;
  font-size: 3rem;
}

#projects .container .git-box a {
  text-decoration: none;
  color: #313030;
  text-align: center;
  font-size: 5rem;
  height: 4.5rem;
  width: 4.5rem;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .container .git-box a i {
  padding: 0;
  cursor: pointer;
  text-align: center;
}

#timeline {
  background: #738eb9;
}

#timeline h1 {
  padding: 2rem;
}

#timeline ul {
  padding: 50px 0;
}

#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

#timeline ul li div {
  position: relative;
  bottom: 5px;
  width: 400px;
  padding: 1rem;
  background: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

#timeline ul li div h3 i {
  padding: 0.3rem;
  font-size: 1.3rem;
}

#timeline ul li:nth-child(odd) div {
  left: 40px;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent white transparent transparent;
}

#timeline ul li:nth-child(even) div {
  left: -434px;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent white;
}

#timeline ul li::after {
  font-family: FontAwesome;
  content: "";
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 30px;
  height: 30px;
  background: inherit;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

#timeline ul li.show div {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: var(--secondary-color);
}

#timeline ul li.show.future::after {
  content: "\f018";
  background: #84425b;
}

#timeline ul li.show.done:after {
  font-family: FontAwesome;
  content: "\f00c";
  background: #5b8442;
}

#timeline ul li.show.in-progress:after {
  font-family: FontAwesome;
  content: "\f252";
  background: white;
}

#timeline div:before {
  content: "";
  position: absolute;
  bottom: 15px;
  width: 0;
  height: 0;
  border-style: solid;
}

#contact .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .head p {
  font-size: 2rem;
}

#contact .container {
  width: 1000px;
  margin: 3rem auto;
}

#contact .container .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .container .form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
}

#contact .container .form-box form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem;
}

#contact .container .form-box form .form-group .short-number {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact .container .form-box form .form-group.number {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact .container .form-box form .form-group.number .short-number {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#contact .container .form-box form .form-group.number .short-number select {
  width: 100%;
  height: 4.2rem;
}

#contact .container .form-box form .form-group.number .long-number {
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#contact .container .form-box form .form-group label {
  padding: 1rem;
  font-size: 1.5rem;
}

#contact .container .form-box form .form-group input {
  width: 100%;
  padding: 1rem;
  outline: none;
  line-height: 2rem;
  font-size: 1.5rem;
  border: 1px solid #738eb9;
}

#contact .container .form-box form .form-group select {
  width: 100%;
  padding: 1rem;
  outline: none;
  line-height: 2rem;
  font-size: 1.5rem;
  border: 1px solid #738eb9;
}

#contact .container .form-box form .form-group textarea {
  width: 100%;
  height: 15rem;
  outline: none;
  padding: 1rem;
  line-height: 1.4rem;
  font-size: 1.4rem;
  border: 1px solid #738eb9;
}

#contact .container .form-box form button {
  margin: 2rem;
  padding: 1.5rem 4rem;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #425b84;
  border-radius: 5px;
  cursor: pointer;
}

#contact .container .form-box form button:hover {
  background: #5372a6;
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}

#contact .container .form-box form .g-recaptcha {
  width: 250px;
  margin: 0 auto;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  position: absolute;
  bottom: -5rem;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: #425b84;
  line-height: 5rem;
}

@media (max-width: 1700px) {
  nav #navigation {
    width: 60%;
  }
  nav #navigation a {
    font-size: 1.4rem;
    line-height: 5rem;
  }
  #home {
    min-height: 500px;
  }
  #home .head-title {
    width: 60%;
    font-size: 2rem;
    padding: 3rem;
  }
}

@media (max-width: 1024px) {
  nav {
    height: 4rem;
  }
  nav #navigation {
    width: 80%;
  }
  nav #navigation a {
    font-size: 1.1rem;
    line-height: 4rem;
  }
  #home {
    min-height: 100vh;
  }
  #home .head-title {
    font-size: 1rem;
    width: 80%;
    padding: 1rem;
  }
  #about {
    min-height: 100vh;
  }
  #about .container {
    margin: 1rem auto;
    width: 100%;
  }
  #about .container .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .container .about-box .about-photo {
    margin: 3.4rem auto;
  }
  #about .blue-bar {
    display: none;
  }
  #projects .container .projects-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .container .projects-box a {
    width: 70%;
  }
  #timeline ul li div {
    width: 250px;
  }
  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
  #contact .container {
    width: 100vw;
  }
}

@media (max-width: 768px) {
  #about .container .about-box .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .container .about-box .about-me .about-me-info {
    margin: auto auto;
  }
  #about .container .about-box .about-me .about-me-info p {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  #about .container .about-box .about-me .about-photo {
    margin: auto auto;
  }
  #about .container .about-box .about-me-technologies-box .technologies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .container .about-box .about-me-technologies-box .technologies .tech {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 4rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #about .container .about-box .about-me-technologies-box .technologies .tech i {
    font-size: 8rem;
  }
  #about .container .about-box .about-me-technologies-box .technologies .tech.first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #projects .container .projects-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .container .projects-box a {
    width: 100%;
  }
  #projects .container .projects-box a div {
    padding: 0rem;
  }
  #contact .head p {
    font-size: 1rem;
  }
  #contact .container .form-box form {
    margin: 1rem;
  }
  #contact .container .form-box form .form-group {
    padding: 0rem;
  }
  #contact .container .form-box form .form-group label {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  nav #navigation {
    width: 100%;
  }
  nav #navigation a {
    font-size: 1rem;
  }
  #home {
    min-height: 100vh;
  }
  #about .container .about-box .about-me .about-me-info h1 {
    font-size: 2rem;
  }
  #about .container .about-box .about-me .about-me-info p {
    font-size: 1rem;
  }
  #about .container .about-box .about-me .about-me-technologies-box h1 {
    font-size: 2rem;
  }
  #about .container .about-box .about-me .about-me-technologies-box .technologies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .container .about-box .about-photo img {
    width: 100%;
  }
  #timeline ul li {
    margin-left: 20px;
  }
  #timeline ul li:nth-child(even) div {
    left: 40px;
  }
  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }
  #timeline ul div {
    width: calc(100vw-30px);
  }
  #timeline ul div h3 .icon {
    display: none;
  }
  #contact .container .form-box form .form-group.number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  nav {
    height: 3rem;
  }
  nav #navigation {
    width: 90%;
  }
  nav #navigation a {
    padding: 0;
    font-size: 0.8rem;
    line-height: 3rem;
  }
  #home {
    min-height: 100vh;
  }
  #contact .container .form-box form {
    margin: 0;
  }
  #contact .container .form-box form .g-recaptcha {
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */